.fix-row__margin{
  margin-left: 0
}

.fix-x__scroll{
  overflow-x: auto !important;
}

.fix-history__card{
  .content{
    margin-bottom: 0;
  }

  margin-bottom: 0;
}

.no-top__margin{
  margin-top: 0;
}