.fix-row__margin{
  margin-left: 0
}

.fix-x__scroll{
  overflow-x: auto !important;
}

.fix-history__card{
  .content{
    margin-bottom: 0;
  }

  margin-bottom: 0;
}

.no-top__margin{
  margin-top: 0;
}
.margin-20 {
  margin-left: -15px!important;
}
.lh15 {
  border: 1px solid #68B3C8;
  padding: 3px;
  margin-left: -10px;
  border-radius: 13px;
}
.goTo {
  line-height:2.5;
}
.fix-footer__z{
  z-index: -10;
}